<div class="component-container">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Stock Anomaly</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span class="button-bar" style="margin-right: auto;display: flex; gap: 10px;">
        <button class="action-button" (click)="stockSymbol = 'GC=F'; loadData()">Gold</button>
        <button class="action-button" (click)="stockSymbol = 'GC.1'; loadData()">Gold COMEX</button>
        <button class="action-button" (click)="stockSymbol = 'SI=F'; loadData()">Silver</button>
        <button class="action-button" (click)="stockSymbol = 'ES=F'; loadData()">S&P500</button>
        <button class="action-button" (click)="stockSymbol = 'BTC-USD'; loadData()">BTC</button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- Input and Button (Outside the Grid) -->
  <mat-form-field>
    <mat-label>Enter a stock symbol</mat-label>
    <input name="stock" [(ngModel)]="stockSymbol" matInput placeholder="Enter a stock symbol">
  </mat-form-field>

  <p>Anomalies: {{ anomaly_count }}</p>
  <button (click)="loadData()" mat-raised-button class="flat-button">Analyze</button>

  <!-- Grid List (Only for Chart) -->
  <mat-grid-list cols="2" rowHeight="100vh">
    <!-- Chart (Right Side) -->
    <mat-grid-tile>
      <div class="chart-container">
        <canvas #chartCanvas>{{ chart }}</canvas>
      </div>
    </mat-grid-tile>
    <!-- Empty tile (Left Side) -->
    <mat-grid-tile></mat-grid-tile>

  </mat-grid-list>

  <!-- Overlay spinner -->
  <div class="spinner-overlay" *ngIf="loading$ | async">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
