
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Seasonal trading pattern analytics</span>
    </mat-toolbar-row>
  </mat-toolbar>


    <section>
      <mat-form-field>
        <mat-label>Enter a stock symbol</mat-label>
        <mat-select (selectionChange)="getData()" [(value)]="selectedStockSymbol" name="stock">
          <mat-option *ngFor="let symbol of stockSymbols" [value]="symbol">
            {{symbol}}
          </mat-option>
        </mat-select>
      </mat-form-field>
<!--      <button (click)="getData()" mat-raised-button class="flat-button">Get Data</button>-->
    </section>
  <section>
    <mat-button-toggle-group (change)="getData()" [(ngModel)]="election" aria-label="Font Style">
      <mat-button-toggle value="regular">Regular</mat-button-toggle>
      <mat-button-toggle value="elec">Election</mat-button-toggle>
      <mat-button-toggle value="post">Post Election</mat-button-toggle>
      <mat-button-toggle value="pre">Pre Election</mat-button-toggle>
    </mat-button-toggle-group>
    </section>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <app-chart-year-component></app-chart-year-component>
    </mat-grid-tile>
    <mat-grid-tile>
<!--      <app-pie-area *ngIf="!hidePie"></app-pie-area>-->
    </mat-grid-tile>
    <mat-grid-tile>
<!--      <app-line-chart [hideForm]="true"></app-line-chart>-->
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>

