<div class="container">
  <!-- Left Side (Charts) -->
  <div class="charts-container">
    <!-- Historical Sentiment Daily Data -->
    <div class="chart">
      <app-sentiment-line-chart [sentimentData]="sentimentData" [title-chart]="'Historical Sentiment Daily Data'"></app-sentiment-line-chart>
    </div>
    <!-- AI Monthly News Sentiment -->
    <div class="chart">
      <app-pie-chart [period]="'monthly'" [title-chart]="'AI Monthly News Sentiment'"></app-pie-chart>
    </div>
  </div>

  <!-- Right Side (Last News - Takes full height) -->
  <div class="news-container">
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-icon>newspaper</mat-icon>
        <span class="example-spacer">Last News</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="news-scroller">
      <mat-card *ngFor="let article of articles" class="news-article-card">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="article-header">
              <span class="article-date">{{ article.publishedAt | dateFormat }}</span>
              <span class="sentiment-indicator" [ngClass]="article.sentiment"></span>
              <span class="article-title">{{ article.title | truncate:truncateLength }}</span>
            </div>
          </mat-expansion-panel-header>
          <mat-card-content>
            <p>{{ article.description }}</p>
            <a mat-stroked-button [href]="article.url" target="_blank">Read more...</a>
          </mat-card-content>
        </mat-expansion-panel>
      </mat-card>
    </div>
  </div>
</div>
