/* Main Container (Two Columns) */
.container {
  display: flex;
  min-height: 100vh;
  gap: 10px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack elements vertically on mobile */
    height: auto; /* Adjust height dynamically */
  }

  .charts-container, .news-container {
    flex: 1 1 auto; /* Take up full width on mobile */
  }
}

/* Left Side (Charts) */
.charts-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Takes 50% width */
  gap: 10px;
}

/* Each Chart Takes Half of the Left Side */
@media (min-width: 769px) {
  .chart {
    height: 70%;
    background-color: #f9f9f9; /* Just for visibility */
  }
}

.chart {
  min-height: 200px; /* Ensures a minimum height for charts on mobile */
}

/* Right Side (Last News - Takes Full Height) */
.news-container {
  flex: 1; /* Takes 50% width */
  display: flex;
  flex-direction: column;
}

/* News Scroller */
.news-scroller {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 100%;
  min-height: 200px;
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
}

.news-scroller::-webkit-scrollbar {
  width: 10px;
}

.news-scroller::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.news-scroller::-webkit-scrollbar-thumb {
  background: #888;
}

.news-scroller::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* News Card */
.news-article-card {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .news-article-card {
    margin-bottom: 5px; /* Reduce margin for mobile */
    padding: 5px;
  }
}


/* Article Header */
.article-header {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Article Date */
.article-date {
  font-size: 0.75em;
  color: #666;
}

@media (max-width: 768px) {
  .article-date {
    font-size: 0.7em; /* Smaller font for mobile */
    color: #666;
  }

  /* Sentiment Indicator */
  .sentiment-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }

  @media (max-width: 768px) {
    .sentiment-indicator {
      width: 10px; /* Smaller size for mobile */
      height: 10px;
    }
  }

  .sentiment-indicator.positive {
    background-color: #4CAF50;
  }

  .sentiment-indicator.neutral {
    background-color: #2196F3;
  }

  .sentiment-indicator.negative {
    background-color: #F44336;
  }

  /* Button Styling */
  .mat-stroked-button {
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    .mat-stroked-button {
      margin-top: 5px; /* Reduce margin for mobile */
    }
  }

  /* Toolbar */
  .example-spacer {
    flex-grow: 1;
  }
}
