<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="6px" fxFlexFill>
  <div fxFlex="50%">
    <app-pie-chart></app-pie-chart>
  </div>
  <div fxFlex="50%">
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-icon>newspaper</mat-icon>
        <span class="example-spacer"> Last News</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-card *ngFor="let article of articles">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div fxLayoutGap="row" fxLayoutGap="6px" fxLayoutAlign="start center">
            <span class="article-date">{{ article.publishedAt | dateFormat }}</span>
            <!-- Use an empty span for the dot -->
            <span class="sentiment-indicator" [ngClass]="article.sentiment"></span>
            <span class="article-title">{{ article.title | truncate:truncateLength }}</span>
          </div>
        </mat-expansion-panel-header>
        <mat-card-content>
          <p>{{ article.description }}</p>
          <a mat-stroked-button [href]="article.url" target="_blank">Read more...</a>
        </mat-card-content>
      </mat-expansion-panel>
    </mat-card>
  </div>
</div>
