<form style="overflow: hidden">
    <mat-form-field>
        <mat-label>Enter a stock symbol</mat-label>
        <input name="stock" [(ngModel)]="symbol" matInput placeholder="Enter a stock symbol" value="GBPUSD=X">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Style</mat-label>
        <mat-select name="selectedValue" [(ngModel)]="chartStyle" value="bar">
            <mat-option value="bar">Bar</mat-option>
            <mat-option value="line">Line</mat-option>
        </mat-select>
    </mat-form-field>

  <p *ngIf="period">Period: {{period}}</p>
  <section>
    <button (click)="getStockData()" mat-raised-button class="flat-button">Get Data</button>
  </section>
</form>
<mat-divider></mat-divider>
<div *ngIf="data" class="demo-chart">
  <canvas [id]="canvasId">{{ chart }}</canvas>
</div>
