.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (max-width: 599px) {
  .mat-table {
    overflow-x: auto;
  }

  /* Optional: Hide less important columns on smaller screens */
  .hide-on-mobile {
    display: none;
  }
}

@media (max-width: 600px) {
  .mat-cell, .mat-header-cell {
    padding: 8px; /* Reduce padding on smaller screens */
  }

  .less-important-column {
    display: none; /* Hide less important columns on smaller screens */
  }
}

.scrollable-table-container {
  overflow-x: auto; /* Enables horizontal scrolling */
}

table {
  width: 100%; /* Ensures the table expands to the width of its container */
}


.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: var(--logo-blue);
  --mdc-radio-disabled-unselected-icon-color: var(--logo-blue);
  --mdc-radio-unselected-focus-icon-color: var(--logo-blue);
  --mdc-radio-unselected-hover-icon-color: var(--logo-blue);
  --mdc-radio-unselected-icon-color: var(--logo-blue);
  --mdc-radio-unselected-pressed-icon-color: var(--logo-blue);
  --mdc-radio-selected-focus-icon-color: var(--logo-blue);
  --mdc-radio-selected-hover-icon-color: var(--logo-blue);
  --mdc-radio-selected-icon-color: var(--logo-blue);
  --mdc-radio-selected-pressed-icon-color: var(--logo-blue);
  --mat-mdc-radio-ripple-color: var(--logo-blue);
  --mat-mdc-radio-checked-ripple-color: var(--logo-blue);
  --mat-radio-checked-ripple-color: unset;
}
