<mat-card fxFlex="100%" fxFlex.xs="100%">
  <mat-toolbar>
    <mat-toolbar-row>
      <mat-icon>memory</mat-icon>
      <span class="example-spacer">{{titleChart}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" class="content-container">

    <div fxFlex="30%" fxFlex.xs="100%" style="display: block;">
      <mat-list>
        <mat-list-item>Negative: {{negativeSum}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Positive: {{positiveSum}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Neutral: {{neutralSum}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>All: {{allSum}}</mat-list-item>
      </mat-list>
    </div>

    <div fxFlex="70%" fxFlex.xs="100%">
      @if (noDataAvailable) {
        <app-data-message [messageText]="'Currently, there are no new updates to report for today. Please check back later for any developments.'"></app-data-message>
      }
      @if (showChart) {
        <div style="display: block;">
          <canvas [id]="canvasId" id="pie"></canvas>
        </div>
      }
    </div>

  </div>
</mat-card>
