<div class="search-bar">
  <input
    type="text"
    [formControl]="searchControl"
    placeholder="Search..."
    class="search-input"
  />
  <button
    *ngIf="searchControl.value"
    class="clear-button"
    (click)="clearInput()"
    aria-label="Clear search"
  >
    ✕
  </button>
  <ul *ngIf="suggestions.length > 0" class="suggestions-list">
    <li
      *ngFor="let suggestion of suggestions"
      class="suggestion-item"
      (click)="onSuggestionClick(suggestion)"
    >
      {{ nameToDisplay(suggestion) }}
    </li>
  </ul>
</div>
