:host {
  position: fixed;       /* Fixes the background in place */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;           /* Ensures it sits behind your content */
  background: linear-gradient(135deg, #026670, #102f77, #E0FBFC);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  :host {
    /* Adjustments for mobile view can go here */
    /* For example, you might want to change background colors or sizes */
  }
}
