.tradingview-widget-container {
  height: 100%; /* Ensure full height for the widget container */
  width: 100%;  /* Ensure full width for the widget container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.tradingview-widget-container__widget {
  height: 100%; /* Inherit height from the parent container */
  width: 100%;  /* Inherit width from the parent container */
  overflow: hidden; /* Remove any unwanted scrollbars */
}
.widget-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Full height */
}

.widget-content {
  flex: 1; /* Pushes the copyright down */
}

.tradingview-widget-copyright {
  text-align: center; /* Center-aligns the text */
  margin-top: auto;   /* Ensures it stays at the bottom */
}
