<mat-card>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="FX"><app-fx-collection></app-fx-collection></mat-tab>
      <mat-tab label="Stock"><app-stock-collection></app-stock-collection></mat-tab>
      <mat-tab label="Monthly-pro"> <app-line-chart></app-line-chart> </mat-tab>
      <mat-tab label="Daily-pro"> <app-large-area-chart></app-large-area-chart> </mat-tab>
      <!-- <mat-tab label="Search"> <app-search></app-search> </mat-tab> -->
    </mat-tab-group>
  </mat-card-content>
</mat-card>