/*.flex-item {*/
/*  flex-grow: 1;*/
/*  flex-basis: calc(50% - 20px); !* Subtracting margins *!*/
/*  border: 1px solid black;*/
/*  margin: 10px;*/
/*  padding: 10px;*/
/*  text-align: center;*/
/*  box-sizing: border-box; !* Ensures that padding and border are included in width calculations *!*/
/*}*/

/*.flex-container {*/
/*  display: flex;*/
/*  justify-content: space-around;*/
/*  flex-wrap: wrap; !* Allow items to wrap onto the next line *!*/
/*}*/

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-item {
  padding: 10px;
  text-align: center;
  box-sizing: border-box; /* This ensures padding does not affect overall width */
}
