<mat-toolbar>
  <span>Dashboard macro data graphs</span>
</mat-toolbar>

<mat-toolbar-row class="toolbar-row">
  <mat-card-actions class="button-container">
    <button style="margin-right: 5px" (click)="addGraph()" class="flat-button">Add Graph</button>
    <button (click)="cleanAll()" class="flat-button">Clean all</button>
  </mat-card-actions>
</mat-toolbar-row>

<!-- Dashboard Grid -->
<div class="flex-container">
  <div *ngFor="let item of flexItems; let i = index" class="flex-item">
    <mat-form-field appearance="fill">
      <mat-label>Select Component</mat-label>
      <mat-select [(ngModel)]="item.selectedComponent" (selectionChange)="loadComponent(i, $event.value)">
        <mat-option *ngFor="let comp of availableComponents" [value]="comp.name">{{ comp.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <ng-template #target></ng-template>
  </div>
</div>
