<mat-toolbar>
  <mat-toolbar-row>
    <span>Dashboard macro data graphs</span>
    <span class="example-spacer"></span>
    <button (click)="addGraph()" mat-raised-button class="flat-button">Add Graph</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="flex-container">
  <div *ngFor="let item of flexItems; let i = index" class="flex-item">
    <mat-form-field appearance="fill">
      <mat-label>Select Component</mat-label>
      <mat-select [(ngModel)]="item.selectedComponent" (selectionChange)="loadComponent(i, $event.value)">
        <mat-option *ngFor="let comp of availableComponents" [value]="comp.name">{{ comp.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <ng-template #target></ng-template>
  </div>

</div>
