.maintenance-page {
  text-align: center;
  padding: 50px;
  background-image: url('/assets/maintenance.jpg');
  background-size: cover;
  background-position: center;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin: 100px auto;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

.maintenance-page h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.maintenance-page p {
  font-size: 1.2em;
}
