<!-- app.component.html -->

<!-- Top Nav -->
<div class="top-nav"
     fxLayout="row"
     fxLayoutAlign="space-between center"
     fxLayoutGap="20px">

  <!-- Left (Logo) -->
  <div routerLink="/" class="berezini-logo">
    Berezini Partners
  </div>


  <!-- Middle (Main Menu Items) -->
  <div fxLayout="row" class="menu-items">
    <button class="main-menu-item" (click)="goToHome()">
      <mat-icon class="menu-icon">event_note</mat-icon>
      Events
    </button>
    <button class="main-menu-item" (click)="goToSeasonality()">
      <mat-icon class="menu-icon">show_chart</mat-icon>
      Seasonality
    </button>
    <button class="main-menu-item" (click)="goToStockAnomaly()">
      <mat-icon class="menu-icon">show_chart</mat-icon>
      Anomaly
    </button>
    <button class="main-menu-item" (click)="goToInsiders()">
      <mat-icon class="menu-icon">goat</mat-icon>
      Insiders
    </button>
    <button class="main-menu-item" (click)="goToNews()">
      <mat-icon class="menu-icon">pie_chart</mat-icon>
      News
    </button>
    <button class="main-menu-item" (click)="goToDashGraphs()">
      <mat-icon class="menu-icon">multiline_chart</mat-icon>
      Dash Graphs
    </button>
    <button class="main-menu-item" (click)="goToAbout()">
      <mat-icon class="menu-icon">info</mat-icon>
      About
    </button>
  </div>

  <!-- Right (Sign In / Join Berezini) -->
  @if (!isLoggedIn) {
    <div fxLayout="row" fxLayoutGap="10px" class="auth-buttons">
      <button class="main-menu-item" (click)="openSignInPopup()">
        Sign In
      </button>
      <button class="main-menu-item join-button" (click)="openJoinPopup()">
        Join Berezini
      </button>
    </div>
  } @else {
    <div fxLayout="row" fxLayoutGap="10px" class="auth-buttons">
      <button class="main-menu-item" (click)="logout()">
        Logout
      </button>
    </div>
  }


</div>

<!-- Content Area -->
<div class="content-area" fxLayout="row">
  <div fxFlex="100">
    <router-outlet></router-outlet>
  </div>
</div>
