<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class="main-menu-home">
    <div cdkMenuItem routerLink="/" class="main-menu-item berezini-logo"></div>
    <button class="main-menu-item" cdkMenuItem routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">Events
    </button>
    <button class="main-menu-item" cdkMenuItem routerLink="/app-seasonality" routerLinkActive="active"
            ariaCurrentWhenActive="page">Seasonality
    </button>
    <button class="main-menu-item" cdkMenuItem routerLink="/app-news" routerLinkActive="active"
            ariaCurrentWhenActive="page">News
    </button>
    <button class="main-menu-item" cdkMenuItem routerLink="/dash-graphs" routerLinkActive="active"
            ariaCurrentWhenActive="page">Dash Graphs
    </button>
<!--    <button class="main-menu-item" cdkMenuItem routerLink="/hockey-bet" routerLinkActive="active"-->
<!--            ariaCurrentWhenActive="page">Hockey - Bet-->
<!--    </button>-->
    <button class="main-menu-item" cdkMenuItem routerLink="/app-supported-by" routerLinkActive="active"
            ariaCurrentWhenActive="page">About
    </button>
  </div>

  <router-outlet></router-outlet>
</div>
