<div class="card-container">
  <!-- Support Our Project -->
  <mat-card class="full-width">
    <mat-card-header class="bg-color">
      <mat-card-title class="basic-color" style="font-size: 1.5em;">Support Our Project</mat-card-title>
      <mat-card-subtitle style="color: #ff4081;">Dream big, work hard, and make it happen.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <iframe src="https://github.com/sponsors/pauloberezini/card" title="Sponsor pauloberezini" height="225"
              width="100%" style="border: 0;"></iframe>
      <div class="supporters">
        <h2 class="basic-color">Sponsored by You</h2>
        <ul>
          <li><p>Your link here</p></li>
        </ul>
      </div>

      <div class="thanks">
        <h2 class="basic-color">Thank You for Your Support!</h2>
        <p>We deeply appreciate the support of our sponsors. Your contributions make a significant difference in our
          ability to continue the work on this important open-source project. Thank you for your belief in our mission
          and your generosity!</p>
      </div>
    </mat-card-content>

    <mat-card-actions class="bg-color button-align">
      <a target="_blank" href="https://github.com/pauloberezini/macro-ui" mat-button class="basic-color">Check our
        project on GitHub</a>
    </mat-card-actions>
  </mat-card>

  <!-- Attention Traders and Investors -->
  <mat-card class="full-width">
    <mat-card-header>
      <mat-card-title>Attention Traders and Investors!</mat-card-title>
      <mat-card-subtitle>Unlock Premier Insights with the Chart Database Berezini Partners</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        By joining Berezini Partners, you'll tap into an expansive database of <span style="font-weight: bold;">over 10,000+ seasonal profiles</span>
        for securities listed across the globe. Benefit from pinpointed Buy and Sell dates, empowering you with insights
        on the most opportune moments to engage in equity trades, rooted in historical performance data.
      </p>
      <p>
        Additionally, complement your seasonal trading strategy with a sharp view of crucial economic indicators from
        countries worldwide — all through the lens of seasonality. Stay ahead with our timely updates on economic
        seasonal charts, refreshed promptly upon data release. Join the informed; invest with precision.
      </p>
    </mat-card-content>
  </mat-card>
</div>
