<form>
    <mat-form-field>
        <mat-label>Enter a stock symbol</mat-label>
        <input name="stock" [(ngModel)]="symbol" matInput placeholder="Enter a stock symbol" value="GBPUSD=X">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Style</mat-label>
        <mat-select name="selectedValue" [(ngModel)]="chartStyle" value="bar">
            <mat-option value="bar">Bar</mat-option>
            <mat-option value="line">Line</mat-option>
        </mat-select>
    </mat-form-field>
</form>

<form>
    <!-- <mat-grid-list cols="1" rowHeight="10:1"> -->
    <!-- <mat-grid-tile> -->
    <p *ngIf="period">Period: {{period}}</p>
    <div style="display: flex; align-items: start; justify-content: start;">
        <button (click)="getStockData()" mat-raised-button color="primary">Get Data</button>

        <div *ngIf="isLoading$ | async">
            <mat-spinner color="warn"></mat-spinner>
        </div>
    </div>
    <!-- </mat-grid-tile> -->
    <!-- </mat-grid-list> -->
</form>
<mat-divider></mat-divider>

<div class="chart-container">
    <canvas id="MyChartLine">{{ chart }}</canvas>
</div>