<div class="search-bar">
  <mat-form-field>
    <mat-label>Enter a stock symbol</mat-label>
    <input name="stock"  type="text"
           [formControl]="searchControl" matInput placeholder="Enter a stock symbol" value="APPL">
  </mat-form-field>
  <button
    *ngIf="searchControl.value"
    class="clear-button"
    (click)="clearInput()"
    aria-label="Clear search"
  >
    ✕
  </button>
  <ul *ngIf="suggestions.length > 0 || searchControl.value" class="suggestions-list">
    <li
      *ngFor="let suggestion of suggestions"
      class="suggestion-item"
      (click)="onSuggestionClick(suggestion)"
    >
      {{ nameToDisplay(suggestion) }}
    </li>
    <li *ngIf="showNoResults" class="no-results-item">
      {{ 'No results found' }}
    </li>
  </ul>
</div>
