.no-data {
  text-align: center;
  padding-top: 15vh;
}

.no-data mat-icon {
  color: var(--logo-blue); /* Red */
}

.no-data p {
  margin-top: 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.54); /* Lighter black for softer text */
}
