/* You can add global styles to this file, and also import other style files */

:root {
  --dark-green: #026670;
  --medium-green: #02C39A;
  --light-green: #E0FBFC;
  --dark-gray: #333333;
  --light-gray: #F0F0F0;
}

body {
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

.mat-toolbar {
  background-color: var(--dark-green);
  color: var(--light-gray);
}

.mat-card {
  background-color: var(--light-green);
  color: var(--dark-gray);
}

button {
  background-color: var(--dark-green);
  color: var(--light-gray);
}

button:hover {
  background-color: var(--medium-green);
}


.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

/* Styles for 14-inch screens */
@media only screen and (min-width: 14in) and (max-width: 15in) {

  /* Your CSS styles for 14-inch screens here */
  table {
    width: 100%;
  }

  th,
  td {
    padding: 12px;
  }
}


.mat-mdc-progress-spinner {
  /* position: absolute !important; */
  width: 30px !important;
  height: 30px !important;
  top: 0;
}

.mat-toolbar {

  background: #68727e;

}

.table-container {
  height: 100%;
  width: 100%;
  /* Or any other maximum height */
  overflow-y: auto;
  display: block;
}

.mat-mdc-card-header {
  display: block !important;
}

.chart-container{
  width: 90%;
  height: 100%;
  padding-bottom: 50px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-cell, .mat-mdc-header-cell {
  padding: 0 2px 0 0 !important;
  text-align: center !important;
}