.insiders-container {
  padding: 16px;
  width: 100%;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.loading-indicator span {
  margin-top: 10px;
  font-size: 14px;
  color: gray;
}

.filter-field {
  margin-bottom: 16px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.no-data {
  text-align: center;
  font-size: 16px;
  color: gray;
  margin-top: 20px;
}
