<mat-toolbar>
  <mat-toolbar-row>
    <span>Insiders Data</span>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Search Bar -->
<app-search-bar (suggestionSelected)="handleSuggestion($event)"></app-search-bar>

<!-- Main Layout -->
<div class="main-container">

  <!-- Left Side (Trading View + Insider Transactions) -->
  <div class="left-side">
    <!-- Flex container with two rows -->
    <div class="left-container">
      <!-- Row 1: Trading View -->
      <div class="trading-view">
        <app-trading-view-chart style="height: 100%; width: 100%;"
                                [symbol]="selectedSuggestion"
                                [style.visibility]="selectedSuggestion.length != 0 ? 'visible' : 'hidden'">
        </app-trading-view-chart>
      </div>
      <!-- Row 2: Insider Transactions -->
      <div class="insider-transactions" [style.visibility]="selectedSuggestion.length != 0 ? 'visible' : 'hidden'">
        <div class="container">
          <mat-toolbar>
            <mat-toolbar-row>
              <span>Insiders Transactions</span>
            </mat-toolbar-row>
          </mat-toolbar>
          <table mat-table [dataSource]="data" matSort class="mat-elevation-z8 full-width">
            <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ column | camelCaseSplit | titlecase }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element[column] }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div *ngIf="data?.data?.length === 0" class="data-loader">
          <div class="spinner-container">
            <mat-spinner></mat-spinner>
            <span>Loading data, please wait...</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Right Side (Company Profile + Fundamental Data) -->
  <div class="right-side">
    <!-- First Cell: Company Profile -->
    <div class="company-profile" [style.visibility]="selectedSuggestion.length != 0 ? 'visible' : 'hidden'">
      <app-company-profile style="height: 100%; width: 100%;" [symbol]="selectedSuggestion"></app-company-profile>
    </div>

    <!-- Second Cell: Fundamental Data -->
    <div class="fundamental-data" [style.visibility]="selectedSuggestion.length != 0 ? 'visible' : 'hidden'">
      <app-fundamental-data style="height: 100%; width: 100%;" [symbol]="selectedSuggestion"></app-fundamental-data>
    </div>

    <!-- Copyright Positioned at the Bottom -->
    <div class="tradingview-widget-copyright">
      <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
        <span class="blue-text">Track all markets on TradingView</span>
      </a>
    </div>
  </div>

</div>
