<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="6px">
  <mat-card fxFlex="100%">
    <mat-card-actions align="start">


      <mat-form-field>
        <mat-label>Select Currencies</mat-label>
        <mat-select name="currency" [(ngModel)]="selectedCountry" (selectionChange)="onCurrencyChange()">
          <mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Search</mat-label>
        <input name="search" type="text"
               aria-label="Number"
               matInput
               [formControl]="currencyControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let currency of filteredCurrencies | async" [value]="currency">
            {{ currency }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>


    </mat-card-actions>

    @if (noDataAvailable) {
      <app-data-message [messageText]="'Select the relevant economic indicator'"></app-data-message>
    }
    <canvas #atrChart>{{ chart }}</canvas>
  </mat-card>
</div>
